<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/news.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet">
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
        <a class="navbar-brand" href="/home ">Oracle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Go Back</a>
                </li>
            </ul>


        </div>
    </nav>

    <div class="container mt-3">
        <h1 class="mb-3">Institute News <%-addNews%>
        </h1>
        <% news.forEach(function (news) { %>
            <div class="news_box rounded mb-3">
                <div class="pt-2 px-5">
                    <div class="text-md-right text-center">
                        <h6>
                            <%=new Date(news.Date).toISOString().slice(0,10);%>
                        </h6>
                    </div>
                </div>
                <hr />
                <div class="pb-3 px-5">
                    <%=news.Description%>
                </div>
            </div>
            <% }) %>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <div>
                <form action="/news" method="POST">
                    <label for="news">
                        <h5>News</h5>
                    </label>
                    <textarea rows="5" type="text" name="news" placeholder="" class="mb-3" required></textarea>

                    <!-- <label for="date">
                        <h5>Date</h5>
                    </label>
                    <input type="date" name="date" placeholder="" class="mb-3" value="<%=new Date().toISOString().slice(0,10);%>" required disabled> -->

                    <label for="grade">
                        <h5>Grade (To notify by emails)</h5>
                    </label>
                    <select class="form-control form-control-sm" name="grade">
                        <option value="" selected disabled hidden>Choose here</option>
                        <%for(var i=13;i>0;i--)
                        { %>
                        <option value="<%= i%>"><%= i%></option>
                        <% }%>
                      </select>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
    </div>



</body>

</html>